<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bovespa Sys Express</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;600;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav id="menu">
        <ul class="list">
            <li class="logo">Bovespa Sys Express</li>
            <li class="button"><a href="/acoes/">Inicio</a></li>
            <li class="button"><a href="#">Sobre</a></li>
        </ul>
    </nav>
    {{{body}}}
    <footer>
        <div class="rodape">
            <p>Este é um exemplo de um sistema que faz uso da técnica de <strong><em>Data Scraping</em></strong>
                para obtenção de dados das ações da Bolsa de Valores brasileira (Bovespa).</p>
            <hr>
            <h3>Funcionamento do sistema</h3>
            <p>O sistema obtém a cada 10 minutos os preços atualizados das ações, através do site <em>'valorinveste.globo.com/cotacoes/'</em>, e as mantém em uma base de dados.</em></p>
            <p>Os sistema obtém as informações das ações na base de dados e as exibe na tela.</p>
            <p>Ao clicar na botão de <em>detalhes</em>, são exibidos os dados fundamentalistas de cada ação, que são obtidos em tempo real através do site <em>'www.fundamentus.com.br'.</em></p>
            <hr>
            <h3>Tecnologias e ferramentas utilizadas</h3>
            <p><strong>Node.js</strong>: implementação do Back-end</p>
            <p><strong>Express</strong>: framework web para Node.js</p>
            <p><strong>Handlebars</strong>: template engine para gerar páginas dinâmicas do Front-end</p>
            <p><strong>MySQL</strong>: SGBD para armazenar as informações de preço das ações</p>
            <p><strong>Sequelize</strong>: ORM para simplificar a conexão com o banco de dados MySQL</p>
            <p><strong>Node-cron</strong>: biblioteca utilizada para agendar a tarefa de atualização dos preços das ações</p>
            <p><strong>Axios</strong>: biblioteca utilizada para fazer requests HTTP</p>
            <p><strong>Cheerio</strong>: biblioteca utilizada para fazer Data Scraping</p>
            <hr>
            <p>Este exemplo faz parte do Portfólio pesssoal de <a href="https://linktr.ee/david.santiago"
                    target="_blank">David Santiago.</a></p>
            <p>Acesse o código completo e comentado <a href="https://github.com/DavidVSantiago/Paginacao-com-Javascript-puro" target="_blank">neste repositório.</a></p>
        </div>
    </footer>
</body>

</html>