<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bovespa Sys Express</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;600;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav id="menu">
        <ul class="list">
            <li class="logo">Bovespa Sys Express</li>
            <li class="button"><a href="/acoes/">Inicio</a></li>
            <li class="button"><a href="/sobre/">Sobre</a></li>
        </ul>
    </nav>
    {{{body}}}
    <footer>
        <div class="rodape">
            <p>Este é um exemplo de um sistema que faz uso da técnica de <strong><em>Data Scraping</em></strong>
                para obtenção de dados das ações da Bovespa.</p>
            <p>Este exemplo faz parte do Portfólio pesssoal de <a href="https://linktr.ee/david.santiago"
                    target="_blank">David Santiago.</a></p>
            <p>Acesse o código completo e comentado <a href="https://github.com/DavidVSantiago/bovespaSysExpress" target="_blank">neste repositório.</a></p>
        </div>
    </footer>
</body>

</html>