<div class="container">
    <div class="heroBar">
        <h1>Ações Bovespa</h1>
        <p>Última atualização: 00:00 min</p>
    </div>
    <div class="block">
        {{#each acoes}}
        <div class="acao">
            <div class="name">{{this.name}}</div>
            <div class="code">{{this.code}}</div>
            <div class="price">{{this.price}}</div>
            <div class="button">
                <a href="/acoes/detalhes/{{this.id}}">Detalhes</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>