<div class="container">
    <div class="heroBar">
        <h1>Sobre o Sistema</h1>
    </div>
    <div class="sobre">
        <p>Sistema construído em Node.js seguindo o padrão MVC.</p>
        <h3>Funcionamento do sistema</h3>
        <p>Os sistema exibe na tela as informações das ações salvas no banco de dados.</p>
        <p>A cada 15 minutos, o sistema busca e salva no banco de dados os preços atualizados das ações - através do site
            <em>'valorinveste.globo.com/cotacoes/'</em>.</em></p>
        <p>Ao clicar na botão de <em>detalhes</em> de cada ação, o sistema apresenta os seus dados detalhados, que são obtidos
            em tempo real através do site <em>'www.fundamentus.com.br'.</em></p>
        <hr>
        <h3>Tecnologias e ferramentas utilizadas</h3>
        <p><strong>Node.js</strong>: implementação do Back-end</p>
        <p><strong>Express</strong>: framework web para Node.js</p>
        <p><strong>Handlebars</strong>: template engine para gerar páginas dinâmicas do Front-end</p>
        <p><strong>MySQL</strong>: SGBD para armazenar as informações de preço das ações</p>
        <p><strong>Sequelize</strong>: ORM para simplificar a conexão com o banco de dados MySQL</p>
        <p><strong>Node-cron</strong>: biblioteca utilizada para agendar a tarefa de atualização dos preços das ações
        </p>
        <p><strong>Axios</strong>: biblioteca utilizada para fazer requests HTTP no Back-end</p>
        <p><strong>Cheerio</strong>: biblioteca utilizada para fazer Data Scraping das informações no Back-end</p>
        <hr>
    </div>
</div>